body {
  font-family: 'Roboto', Helvetica, sans-serif;
  min-height: 100vh;
  line-height: 1.5;
  background: var(--clr-neutral-900);
  color: white;
}

a {
  color: white;
}

.standout {
  color: var(--clr-primary-400);
  &--bold {
    font-weight: 700;
  }
  &--inverse {
    color: white;
  }
}

.white-bg {
  background: white;
}

h1 {
  font-size: var(--font-size-xl);
  color: white;
}

:where(img, svg, video) {
  block-size: auto;
  max-inline-size: 100%;
}

.max-container {
  max-width: $lg;
  margin: 0 auto;
  &--right-bleed {
    margin: 0 0 0 auto;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  @supports (display: grid) {
    max-width: none;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr min(64rem, calc(100% - 64px)) 1fr;
    grid-column-gap: 32px;
    & > * {
      grid-column: 2;
    }
  }
}

.full-bleed {
  width: 100vw;
  margin-left: 50%;
  transform: translate3d(-50%, 0, 0);
  @supports (display: grid) {
    grid-column: 1 / -1;
    margin-left: 0;
    transform: translate3d(0, 0, 0);
  }
}
