body {
  font-family: 'Roboto', Helvetica, sans-serif;
  display: grid;
  min-height: 100vh;
  line-height: 1.5;
  background: var(--clr-neutral-900);
  color: white;
}

a {
  color: white;
}

h1 {
  font-size: var(--step--4);
  color: white;
}

.max-container {
  max-width: $xl;
  margin: 0 auto;
}
