body {
  font-family: 'Roboto', Helvetica, sans-serif;
  display: grid;
  min-height: 100vh;
  line-height: 1.5;
  background: var(--clr-neutral-900);
  color: white;
}

a {
  color: white;
}

.standout {
  color: var(--clr-primary-400);
  &--bold {
    font-weight: 700;
  }
}

h1 {
  font-size: var(--font-size-xl);
  color: white;
}

.max-container {
  max-width: $lg;
  margin: 0 auto;
}
