.landing-bg {
  background-image: url('~assets/images/stu-reaching.png');
  background-position: top right;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: clamp(41rem, 80vw, 90%), auto;
}
