.landing-bg {
  background-image: url('~assets/images/climber-reaching.png');
  background-position: top right;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: clamp(41rem, 80vw, 90%), auto;
  padding: 2rem;
  @media screen and (min-width: $xl) {
    padding: 2rem 12rem;
  }
}
