.app-cols {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  @supports (gap: 2rem 4rem) {
    gap: 2rem 4rem;
  }

  @media screen and (min-width: $lg) {
    flex-direction: row;
  }
  & > * {
    flex: 1 1 auto;
  }
  &__img {
    max-width: 400px;
    width: 100%;
    height: auto;
    margin: 1rem;
    align-self: center;
    @supports (width: min(64rem, calc(100% - 64px))) {
      margin: 0;
    }
  }
}
