.footer {
  font-family: 'Gaspar';
  display: grid;
  grid-template-columns: 1fr;
  align-items: baseline;
  justify-content: space-between;
  align-items: baseline;
  gap: 2rem;
  @media screen and (min-width: $lg) {
    grid-template-columns: 1fr 1fr;
  }
  padding: 2rem 0;
  p {
    line-height: 0;
    font-size: var(--step--2);
    text-transform: uppercase;
    letter-spacing: 0.9px;
    text-align: left;
    @media screen and (min-width: $lg) {
      text-align: left;
    }
  }
  ul {
    list-style: none;
    align-items: center;
    display: flex;
    padding: 0;
    gap: 1.5rem;
    margin: 0;
    @media screen and (min-width: $lg) {
      justify-self: flex-end;
    }
  }
}
