.app-list {
  background: #232323;
  padding: 1.5rem;
  border-radius: 0.25rem;
  margin: 1rem 0 2rem;
  &__title {
    margin-bottom: 1rem;
    font-size: var(--font-size-base);
  }
  &__list {
    margin: 0;
    list-style-type: disc;
    li {
      margin-bottom: 1rem;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
