.button {
  color: var(--clr-primary-400);
  padding: 1rem;
  text-transform: uppercase;
  border: 1px solid var(--clr-primary-400);
  background: transparent;
  font-size: var(--step--3);
  letter-spacing: 2px;
  font-weight: 500;
  vertical-align: middle;
}
