.app-logo {
  font-family: 'Gaspar';
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  display: flex;
  font-size: 1.125rem;
  gap: 0.25rem;
  align-items: center;
  letter-spacing: 0.09em;
  text-decoration: none;
}
