.button {
  color: var(--clr-primary-400);
  padding: 1rem;
  text-transform: uppercase;
  border: 1px solid var(--clr-primary-400);
  background: transparent;
  font-size: 0.75rem;
  letter-spacing: 2px;
  font-weight: 500;
}
