.footer {
  font-family: 'Gaspar';
  display: flex;
  grid-template-columns: 1fr;
  align-items: baseline;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 2rem;
  grid-gap: 2rem;

  padding: 2rem;
  p {
    line-height: 0;
    font-size: var(--font-size-sm);
    text-transform: uppercase;
    letter-spacing: 0.9px;
    text-align: left;
    @media screen and (min-width: $lg) {
      text-align: left;
    }
  }
  ul {
    list-style: none;
    align-items: center;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 1.5rem;

    @media screen and (min-width: $lg) {
      justify-self: flex-end;
    }
    li {
      margin: 0 1rem;
      @supports (gap: 1.5rem) {
        margin: 0;
      }
    }
  }
}
