.split {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $lg) {
    flex-direction: row;
  }
  // @supports (display: grid) {
  //   display: grid;
  //   gap: 0;
  //   grid-template-columns: 1fr;

  //   @media screen and (min-width: $lg) {
  //     grid-template-columns: 3fr 2fr;
  //   }
  // }
  &__container {
    background: var(--clr-primary-300);
    padding: 4rem;
    font-family: 'Gaspar';
    height: 100%;
    font-size: var(--font-size-base);

    p {
      margin-bottom: 1rem;
    }
  }
  &__heading {
    font-size: var(--font-size-lg);
    max-width: $sm;
    color: white;
    font-family: 'Gaspar';
    margin-bottom: 2rem;
  }
  &__testimonial {
    position: relative;
    margin-bottom: 4rem;
    &::before {
      content: '"';
      top: 1rem;
      left: -2rem;
      font-size: 4rem;
      line-height: 0;
      position: absolute;
      font-weight: 700;
    }
  }
  &__testimonial-meta {
    font-size: 1rem;
  }
  &__name {
    font-weight: 700;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
