.split {
  display: grid;
  gap: 0;
  grid-template-columns: 1fr;

  @media screen and (min-width: $lg) {
    grid-template-columns: 3fr 2fr;
  }
  &__content {
    background: var(--clr-primary-400);
    font-size: var(--step-0);
    padding: 4rem 2rem;
    font-family: 'Gaspar';
    height: 100%;
  }
  &__img {
    width: 100%;
  }
}
